.logo{

}

.input{
  width: 306px;
  height: 66px;
  border: 1px solid #ccc6aa;
  color: #ccc6aa;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  &::-webkit-input-placeholder {color:#ccc6aa;}
  &::-moz-placeholder          {color:#ccc6aa;}
  &:-moz-placeholder           {color:#ccc6aa;}
  &:-ms-input-placeholder      {color:#ccc6aa;}
  @include transition();

  &:hover,
  &:focus{
    background-color: white;
    box-shadow: 0 0 10px rgba(185, 180, 166, 0.5);
    color: $black;
  }

  &:focus{
    &::-webkit-input-placeholder {color: $black;}
    &::-moz-placeholder          {color: $black;}
    &:-moz-placeholder           {color: $black;}
    &:-ms-input-placeholder      {color: $black;}
  }

  &_error{
    border-color: $red!important;

    &::-webkit-input-placeholder {color: $red!important;}
    &::-moz-placeholder          {color: $red!important;}
    &:-moz-placeholder           {color: $red!important;}
    &:-ms-input-placeholder      {color: $red!important;}
  }
}

.btn{
  display: block;
  font-size: 15px;
  font-weight: 300;
  width: 148px;
  height: 46px;
  color: $black;
  background-color: #ccc39b;
  @include transition();

  &_red{
    color: $red;
    background-color: transparent;
    border: 1px solid $red;
  }

  &:hover{
    color: white;
    background-color: $red;
    border: 1px solid $red;
  }
}

.slider-btn{
  width: 48px;
  height: 78px;
  background-color: rgba(64, 50, 26, 0.2);
  position: absolute;
  z-index: 1;
  top: calc(50% - 39px);
  @include transition();

  &:hover{
    background-color: rgba(64, 50, 26, 0.8);

    span{
      &:nth-of-type(2){
        opacity: 1;
      }
    }
  }

  span{
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 31px;
    @include transition();
    @include centered();

    &:nth-of-type(2){
      @include centered();
      opacity: 0;
    }

    &.arr-passive{
      background-image: url("../image/ui/arr.png");
    }

    &.arr-active{
      background-image: url("../image/ui/arr-h.png");
    }
  }

  &_next{
    right: 0;
  }

  &_prev{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    left: 0;
  }
}

.go-to{
  display: block;
  position: relative;
  z-index: 1;
  padding-left: 41px;

  span{
    border-bottom: 1px solid #fc6969;
    padding-bottom: 3px;
    display: inline-block;
    color: $black;
    font-size: 14px;
    font-weight: 300;
    @include transition();
  }

  &:hover{
    span{
      color: #fc6969;
      border-bottom-color: transparent;
    }
  }

  &:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 28px;
    top: calc(50% - 14px);
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
  }

  &_wedding{
    &:before{
      background-image: url("../image/ui/heart.png");
    }
  }

  &_corporate{
    &:before{
      background-image: url("../image/ui/coctail.png");
    }
  }

  &_anniversary{
    &:before{
      background-image: url("../image/ui/glass.png");
    }
  }
}

.back-link{
  font-size: 16px;
  font-weight: 300;
  color: $black;
  display: block;
  position: relative;
  z-index: 1;
  padding-left: 35px;
  width: 150px;
  @include transition();

  &_top{
    margin: 52px 0 0px 0;
    width: 130px;

    @media (max-width: $width-md){
      margin: 0 0 20px 0;
    }
  }

  &:after,
  &:before{
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 24px;
    height: 12px;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    @include transition();
  }

  &.next{
    padding-left: 0;
    padding-right: 35px;

    &:after,
    &:before{
      top: 4px;
      left: auto;
      right: 0;
      transform: rotate(180deg);
    }
  }

  &:before{
    background-image: url("../image/ui/back.png");
  }

  &:after{
    background-image: url("../image/ui/back-h.png");
    opacity: 0;
  }

  &:hover{
    color: $red;

    &:before{
      opacity: 0;
    }

    &:after{
      opacity: 1;
    }
  }
}

#player{
  position: relative;
  padding: 27px 0 0 0;
  z-index: 1;
  width: 300px;
  height: 162px;
  background-color: whitesmoke;
  box-shadow: 0 4px 10px rgba(185, 180, 166, 0.56);

  @media (max-width: $width-md){
    margin: 15px auto;
    display: block;
  }

  .audiojs{
    width: 232px;
    height: 48px;
    border: 1px solid #40321a;
    display: block;
    margin: 0 auto 0 auto;
    position: relative;
    z-index: 1;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    overflow: visible;



    &:after{
      content: '';
      position: absolute;
      top: 7px;
      right: 81px;
      width: 1px;
      height: 32px;
      background-color: $black;
      z-index: 1;
    }

    .play-pause{
      background-repeat: no-repeat;
      background-position: center;
      width: 18px;
      height: 21px;
      font-size: 0;
      cursor: pointer;
      position: absolute;
      top: 13px;
      left: 66px;
      padding: 0;
      float: none;
      margin: 0;
      background-image: url("../image/ui/player-play.svg");
      border: none;
    }

    .time{
      display: none;
      &-current{

      }

      &-duration{

      }
    }

    .scrubber{
      height: 3px;
      background-color: #ccc39b;
      position: absolute;
      z-index: 1;
      bottom: -63px;
      width: 100%;
      left: 1px;
      cursor: pointer;
      border: none;
      margin: 0;

      .progress{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #918862;
        z-index: 4;
        background-image: none;
      }

      .loaded{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #918862;
        z-index: 4;
        background-image: none;
        display: none;
      }
    }

    &.playing{
      .play-pause{
        background-image: url("../image/ui/pause.svg");
      }
    }
  }

  .current-track{
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: $brown;
    margin: 27px 0 0 34px;
    position: relative;
    z-index: 1;
    padding-left: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 34px;

    &:before,
    &:after{
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      width: 8px;
      height: 8px;
      background-repeat: no-repeat;
      background-position: center;
      @include transition();
    }

    &:before{
      background-image: url("../image/ui/play-status.svg");
      opacity: 0;
    }

    &:after{
      background-image: url("../image/ui/pause-status.svg");
      opacity: 1;
    }

    &:empty{
      display: none;
    }
  }

  .audioplayer-playing ~ .current-track{
    &:before{
      opacity: 0;
    }

    &:after{
      opacity: 1;
    }
  }

  .ctrl-btn{
    width: 19px;
    height: 11px;
    position: absolute;
    top: 46px;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;

    &-prev{
      background-image: url("../image/ui/prev.svg");
      left: 66px;
    }

    &-next{
      background-image: url("../image/ui/next.svg");
      left: 135px;
    }
  }

  .play-list-btn{
    width: 22px;
    z-index: 1;
    padding: 0;
    position: absolute;
    top: 40px;
    right: 65px;

    span{
      display: block;
      margin: 4px auto;
      height: 2px;
      background-color: $black;
      @include transition();
    }

    &.active{
      span{
        //background-color: #bbd802;

        &:nth-of-type(1) {
          transform: translateY(6px) rotate(45deg);
        }

        &:nth-of-type(2) {
          opacity: 0;
          transform: scale(0);
        }

        &:nth-of-type(3) {
          transform: translateY(-6px) rotate(-45deg);
        }
      }
    }
  }

  ol{
    background-color: #918862;
    box-shadow: 0 4px 10px rgba(185, 180, 166, 0.56);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 15px 0;
    display: none;
    z-index: 10;
    margin: 0;

    li{
      @extend .current-track;
      margin: 0 0 4px 34px;
      color: white;
      position: relative;
      z-index: 1;
      padding: 0 34px 0 16px;
      cursor: pointer;
      @include transition();

      &:before{
        background-image: url("../image/ui/play-status-white.svg");
      }

      &:after{
        background-image: url("../image/ui/play-status-h.svg");
      }

      &:hover{
        color: $red;

        &:before{
          opacity: 0;
        }

        &:after{
          opacity: 1;
          background-image: url("../image/ui/play-status-h.svg");
        }
      }

      a{
        position: relative;
        display: block;
        padding-right: 35px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        z-index: 1;

        &:after{
          content: attr(data-track-duration);
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }

  .active ~ ol{
    display: block;
  }

  .playing ~ ol{
    li{
      &.playing{
        &:before{
          opacity: 0;
        }

        &:after{
          opacity: 1;
          background-image: url("../image/ui/pause-status-white.svg");
        }

        &:hover{
          &:after{
            background-image: url("../image/ui/pause-status-h.svg");
          }
        }
      }
    }
  }

  .playing ~ .current-track{
    &:before{
      opacity: 1;
    }

    &:after{
      opacity: 0;
    }
  }
}
