// sizes
$width-lg: 1140px;
$width-lg-min: 1080px;
$width-md: 960px;
$width-sm: 768px;
$width-xs: 420px;
$width-min: 319px;

// colors
$black: #40321a;
$red: #fc6969;
$brown: #645a4d;
$grey: #f5f5f5;

// font-size
